.image-editor {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  --menu: 200px;
  --toolbar: 60px;
  --control-bar: 40px;
  transform-style: preserve-3d;
  overflow: hidden;

  .konvajs-content {
    background: #f6f8fa;
  }

  .image-editor-viewer {
    position: absolute !important;
    left: var(--toolbar);
    top: var(--control-bar);
    width: calc(100% - var(--menu) - var(--toolbar));
    height: calc(100% - var(--control-bar));
  }
}